* {
    box-sizing: border-box;
}
.header{
    padding: 20px 5px;
    align-content: center;
}

body {
    background-color: burlywood;
}

.page-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    text-align: center;
}

.button {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-style: 30px;
    color: white;
    
}

.button.add-doggo{
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    border-radius: 30px;
    scale: 150%;
    height: 45px;
    margin-top: 10px;
    
}

.doggos {
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    gap: 10px;
    grid-auto-flow: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: fit-content;

    
    
}



